.container{
    width: 100%;
    height: 30%;
    background-color: floralwhite;
    float: left;
}
.title{
    width: 96%;
    height: 35%;
    color: #282c34;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4% auto 0;
    border-radius: 30px;
    background: #61dafb;
}

.div_inputContainer{
    display: flex;
    width: 90%;
    height: 25%;
    color: black;
    margin: 3% auto 0;
    flex-direction: row;
}

.div_input{
    flex: 4;
}

.div_btnContainer{
    flex: 1;
    margin-left: 3%;
}
.btn{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background: antiquewhite;
    border-radius: 10px;
    cursor: pointer;
}
